* text=auto eol=lf

*.cpp text diff=cpp
*.h text diff=cpp
*.pri text
*.pro text
*.sql text
*.md text
*.ini text

*.docx binary
*.png binary
*.jpg binary
*.jpeg binary
*.sqlite binary
*.sqlite3 binary

